<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>UserLogin.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>RegisterationServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.RegisterationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RegisterationServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/task</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CurrentTasksServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.CurrentTasksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentTasksServlet</servlet-name>
    <url-pattern>/CurrentTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompleteTasksServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.CompleteTasksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteTasksServlet</servlet-name>
    <url-pattern>/CompleteTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTaskServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.EditTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTaskServlet</servlet-name>
    <url-pattern>/EditTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTaskServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.UpdateTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskServlet</servlet-name>
    <url-pattern>/UpdateTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/DeleteTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserStatusServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.EditUserStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserStatusServlet</servlet-name>
    <url-pattern>/EditStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteTaskServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.AdminDeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteTaskServlet</servlet-name>
    <url-pattern>/AdminDeleteTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignTaskServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.AssignTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTaskServlet</servlet-name>
    <url-pattern>/AssignTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DiscontinueTaskServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.DiscontinueTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscontinueTaskServlet</servlet-name>
    <url-pattern>/DiscontinueTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinishTaskServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.FinishTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinishTaskServlet</servlet-name>
    <url-pattern>/FinishTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestTaskServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.TestTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestTaskServlet</servlet-name>
    <url-pattern>/TestTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DiscontinueTestingServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.DiscontinueTestingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscontinueTestingServlet</servlet-name>
    <url-pattern>/DiscontinueTesting</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>FinishedTestingServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.FinishedTestingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinishedTestingServlet</servlet-name>
    <url-pattern>/FinishedTesting</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>com.TaskWorkFlow.Controller.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/CheckUserName</url-pattern>
  </servlet-mapping>
  
</web-app>